<!doctype html>
<html>
<head>
	<title>StockHub Home</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/template.css')}}">
	</head>
	<body>
		<header>
			<div = class = " container"> 
			<h1 class ="logo"> StockHub</h1>
			<strong><nav>
			<ul class="menu">
				<li><a href="{{url_for('home')}}">Home</a></li>
			        <li><a href="{{url_for('stocks')}}">Stocks</a></li>
				<li><a href="{{url_for('user')}}">User</a></li>
			</ul>
			</nav></strong>
			</div>
		</header>
		{% block content %}
		<p>Some introductory text here</p>
		{% endblock %}
	</body>
</html>
