{% extends "base.html" %}
{% block content %}

<br><br>

<h2>Welcome to StockHub!</h2>
{% if current_user.is_authenticated %}
  <p>Navigate our website to find information on the stock market and invest!</p>
  <img src="https://i.pinimg.com/originals/ce/84/8f/ce848fa02d95f9f5bcf0cd4097773176.gif" alt="Cartoon" class= "center" style="width:400px;height:500px;">
{% else %}
  <p>Navigate our website to find information on the stock market and <a href="{{ url_for('users.login') }}">log in</a> to invest!</p>
  <img src="https://i.pinimg.com/originals/ce/84/8f/ce848fa02d95f9f5bcf0cd4097773176.gif" alt="Cartoon" class= "center" style="width:400px;height:500px;">
{% endif %}

{% endblock %}
