<!-- Written by Wyatt Focht -->
{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Past Purchases</h2>

    <!-- Search Bar -->
    <form class="search" method="post" action="{{ url_for('purchases.explore_search') }}"
     style="margin:auto">
        <input type="text" placeholder="Search for a Stock" name="searchInput">
        <button type="submit"><i class="btn btn-default">Search</i>
        </button>
      <p>
        <!-- Only show this if we've searched something! -->
        {% if searchInput != "" %}
        Showing results for: "{{ searchInput}}"

        {% endif %}
      </p>
    </form>

  <!-- UI to sort ASC and DESC -->
  <form class="form-inline" method="POST" action="{{ url_for('purchases.explore') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"> </span>
            <select name="sort_select" class="selectpicker form-control">
              {% for each in sortOptions %}
              <option value="{{each}}" {% if each == selectedSort %} selected {% endif %}>{{each}}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit"><i class="btn btn-default">Sort</i></button>
  </div>
  </form>



<!-- Show the past purchases in a table -->
<br><br>
{% if current_user.is_authenticated %}
<h2>Your Recent Purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Ticker</th>
      <th scope="col">Number of Shares</th>
      <th scope="col">Cost</th>
      <th scope="col">Time Purchased</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.pid}}</th>
        <td>{{purchase.ticker}}</td>
        <td>{{purchase.num_shares}}</td>
        <td>{{purchase.cost}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
