<!-- Written by Angel Garcia -->
{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<br><br>
<h2>Your portfolio </h2>

  <!-- Show the stocks owned in a table -->
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total Investment</th>
      </tr>
    </thead>
    <tbody>
      <!--{% for stock in stocks%} -- ADD similar case for portfolio data -->
        <tr>
          <td> Ticker 1 </td>
          <td> Name 1</td>
          <td> Quantity 1</td>
          <td> Price 1</td>
          <td> Total Investment 1 </td>
        </tr>
      <!--{% endfor %}-->
    </tbody>
  </table>

<h2>Your recent purchases:</h2>
<!-- Show transaction history in a table -->
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Number of shares</th>
        <th scope="col">Cost</th>
        <th scope="col">Time of purchase</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in purchases%}
        <tr>
          <td>{{purchase.ticker}}</th>
          <td>{{purchase.num_shares}}</td>
          <td>{{purchase.cost}}</td>
          <td>{{purchase.time_purchased}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your portfolio!</p>
{% endif %}

{% endblock %}
