<!-- Written by Chase Morell/Angel Garcia -->
{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<br><br>
<h2>Your Portfolio </h2>

    <!-- Search Bar -->
    <form class="search" method="post" action="{{ url_for('stocks.explore_search') }}"
     style="margin:auto">
        <input type="text" placeholder="Search for a Stock" name="searchInput">
        <button type="submit"><i class="btn btn-default">Search</i>
        </button>
      <p>
        <!-- Only show this if we've searched something! -->
        {% if searchInput != "" %}
        Showing results for: "{{ searchInput}}"

        {% endif %}
      </p>
    </form>

  <!-- UI to sort ASC and DESC -->
  <form class="form-inline" method="POST" action="{{ url_for('stocks.explore') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"> </span>
            <select name="sort_select" class="selectpicker form-control">
              {% for each in sortOptions %}
              <option value="{{each}}" {% if each == selectedSort %} selected {% endif %}>{{each}}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit"><i class="btn btn-default">Sort</i></button>
  </div>
  </form>


<!-- Show the stocks in a table -->
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total Investment</th>
    </tr>
  </thead>
  <tbody>
    <!--{% for stock in stocks%} -- ADD similar case for portfolio data -->
      <tr>
        <td> Ticker 1 </td>
        <td> Name 1</td>
        <td> Quantity 1</td>
        <td> Price 1</td>
        <td> Total Investment 1 </td>
      </tr>
    <!--{% endfor %}-->
  </tbody>
</table>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your portfolio!</p>
{% endif %}

{% endblock %}
