<!-- Chase Morell -->
{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Stock Explorer   </h2>

    <!-- Search Bar -->
    <form class="search" method="post" action="{{ url_for('stocks.explore_search') }}"
     style="margin:auto">
        <input type="text" placeholder="Search for a Stock" name="searchInput">
        <button type="submit"><i class="btn btn-default">Search</i>
        </button>
      <p>
        <!-- Only show this if we've searched something! -->
        {% if searchInput != "" %}
        Showing results for: "{{ searchInput}}"

        {% endif %}
      </p>
    </form>

  <!-- UI to sort ASC and DESC -->
  <form class="form-inline" method="POST" action="{{ url_for('stocks.explore') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"> </span>
            <select name="sort_select" class="selectpicker form-control">
              {% for each in sortOptions %}
              <option value="{{each}}" {% if each == selectedSort %} selected {% endif %}>{{each}}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit"><i class="btn btn-default">Sort</i></button>
  </div>
  </form>


<!-- Show the stocks in a table -->
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Name</th>
      <th scope="col">Sector</th>
      <th scope="col">Price</th>

    </tr>
  </thead>
  <tbody>
    {% for stock in stocks%}
      <tr>
        <th scope="row"><a href="{{ url_for('stocks.stock', text=stock.ticker)}}" type="button" class="btn btn-link">{{stock.ticker}}</a></th>
        <td>{{stock.name}}</td>
        <td>{{stock.sector}}</td>
        <td>${{stock.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- TODO: The following code is from the skeleton. We'll need to update this to show the User's stocks -Chase. -->
<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
