<!-- Written by Chase Morell -->
{% extends "base.html" %}

{% block content %}

<head>
  <meta charset="utf-8" />
  <title>{{ ticker }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
  <h1>{{generalData.name}} ({{ ticker }})</h1>
  <p>{{generalData.sector}}</p>

  <form class="form-inline" method="POST" action="{{ url_for('stocks.stock', text=ticker) }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"> </span>
            <select name="graphValue" class="selectpicker form-control">
              {% for each in graphValue %}
              <option value="{{each}}" {% if each == sGV %} selected {% endif %}>{{each}}</option>
              {% endfor %}
            </select>

            <select name="graphPeriod" class="selectpicker form-control">
              {% for each in graphPeriod %}
              <option value="{{each}}" {% if each == sGP %} selected {% endif %}>{{each}}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit"><i class="btn btn-default">Load Graph</i></button>
  </div>
  </form>



    <canvas id="chart" width="1000" height="400"></canvas>
    <script>

      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	    {% for item in values %}
              {{ item }},
            {% endfor %}]
          }
	]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChart = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

    </script>
    <div></div>

    <h3>Articles</h3>
    <p>What other StockHub users are saying about {{generalData.name}}</p>
    {% if articlesExist %}
          <table class='table table-hover table-bordered container'>
          <thead class="thead-light">
          <tr>
            <th scope="col">Rating</th>
            <th scope="col">Article </th>
          </tr>
        </thead>
        <tbody>
        {% for article in articles%}
          <tr>
            <th scope="row">{{article.rating}}/5</th>
            <td>{{article.article_text}}</td>
          </tr>
        {% endfor %}
  </tbody>
</table>
    {% else %}
          <p>There are currently no articles about {{ticker}}.</p>
    {% endif %}



    <p>Bullish or Bearish on {{ticker}}?</p>
    <form class="form-inline" method="POST" action="{{ url_for('article.write',ticker = ticker )}}">
      <button  type="submit"><i class="btn btn-default">Write Article</i></button>
    </form>
    <div></div>

<div >
  <h3> Buy This Stock </h3>

  <form class="form" method="POST" action="{{ url_for('stocks.buy_stock',ticker=ticker )}}">

    <table class='table table-hover table-bordered container' >
      <tr>
      <td> Current Price:<br> <input readonly type="text" value= {{curPrice}} name="curPrice" id="curPrice"> </td>
      </tr>
      <tr>
      <td> Buy Type:<br> <input type="radio" name="buytype" value="1" checked> Number of Shares <input type="radio" name="buytype" value="2"> Dollar Amount </td>
      </tr>
      <tr>
        <td> Transaction Amount: <br> <input type="number" name="amntinfo" id="amntinfo" value=""> </td>
      </tr>


      <td >
        <input type="submit" value="Buy">

      </td>

    </table>
  </form>
  </div>

  {% if stockOwned %}
  <h3> Sell This Stock </h3>
  <form class="form" method="POST" action="{{ url_for('stocks.sell_stock',ticker=ticker )}}">
    <table class='table table-hover table-bordered container' >
      <tr>
      <td> Shares Owned:<br> <input readonly type="text" value={{shares_owned}} name="curShares" id="curShares"> </td>
      <tr>
      <tr>
      <td> Shares Owned Monetary Value :<br> <input readonly type="text" value={{shares_owned_monetary_val}} name="curSharesVal" id="curSharesVal"> </td>
      <tr>
      <td> Current Price:<br> <input readonly type="text" value={{curPrice}} name="curPrice" id="curPrice"> </td>
      </tr>
      <tr>
      <td> Sell Type:<br> <input type="radio" name="selltype" value="1" checked> Number of Shares <input type="radio" name="selltype" value="2"> Dollar Amount </td>
      </tr>
      <tr>
        <td> Transaction Amount: <br> <input type="number" name="amntinfo" id="amntinfo" value=""> </td>
      </tr>


      <td >
        <input type="submit" value="Sell">

      </td>

    </table>

   {% endif %}
   </form>

</body>
</html>

{% endblock %}
