<!--Written by Angel Garcia -->
{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Deposit or Withdraw</h2>

    <div class="container">
    <form>
    <ul>

    <li class="accInfo">
    <!--label>Account Info </label-->
    
    <table cellpadding="5" width="100%"> 
        <tr>
        <td> Name: {{current_user.firstname}} {{current_user.lastname}} </td>
        </tr>
        <tr>
        <td> e-mail: {{current_user.email}} </td>
        </tr>
        <tr>
        <td> Current Balance: {{balance}} </td>
        </tr>
        <!--tr>
        <td> Transaction Type:<br> <input type="radio" name="trtype" value="1" checked> Deposit <input type="radio" name="trtype" value="2"> Withdraw </td>
        </tr-->
        <tr>
        <td> Transaction Amount: <br> 
          <input type="text" name="amntinfo" id="amntinfo" value=""> 
          <button type="submit" onclick="deposit_withdraw(acctype)"><i class="btn btn-default">Deposit</i>
          <button type="submit" onclick="deposit_withdraw(acctype)"><i class="btn btn-default">Withdraw</i>
          {% if amntinfo != "" %}
          <!--script>
            function deposit_withdraw(){
              if (trtype == "1"){
                {user.deposit({{current_user.id}},{{amntinfo}})}
              }
              else{
                {user.withdraw({{current_user.id}},{{amntinfo}})}  
              }}
          </script-->
          {% else %}
          Missing transaction amount
          {% endif %}
        </td>
        </tr>
        <!--tr>
        <td colspan="2"> <div style="padding-top:10px;">
        <span style="padding-right:15%;"><button type="button" name="transfer" id="transfer" style="padding:5px;" onclick="deposit_withdraw(acctype)" >Transfer</button></span>
        <script>
          function deposit_withdraw(){
            if (trtype == "1"){
              {user.deposit({{current_user.id}},)}
            }
            else{
              {user.withdraw({{current_user.id}},)}  
            }}
        </script>
        </div>
        </td>
        </tr-->
    </table>
    </li>
    <!-- Do we want a table on the transfer history?-->>
    <!--li class="accInfo">
    <div id="accDesc">
      <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
        <tr>           
            <td colspan="3">No transaction found</td>
        </tr>
      </thead>
    </table>
    </div>
    </li-->
    </ul>
    </form>
    </div>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to make a money transfer</p>
{% endif %}

{% endblock %}

